@model StoreService.Main.Models.StoreProductsInventoryViewModel
@{
 Layout = "_Layout";
}

<h1>Список продуктов</h1>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Название</th>
        <th>Описание</th>
        <th>Состав</th>
        <th>Цена</th>
        <th>Количество</th>
        <th>Изменить количество</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var product in Model.ProductsInventory)
    {
        <tr>
            <td>@product.Title</td>
            <td>@product.Description</td>
            <td>@product.Composition</td>
            <td>@product.Price</td>
            <td>
                <span class="quantity">@product.Quantity</span>
                <input type="hidden" class="product-id" value="@product.Id"/>
            </td>
            <td>
                <input type="number" class="update-quantity" value="@product.Quantity" min="0"/>
                <button class="btn btn-primary update-button" data-product-id="@product.Id">Обновить</button>
            </td>
        </tr>
    }
    </tbody>
</table>
