@model MenuService.API.Contracts.ProductResponse;

<tr>
    <th scope="row">@Model.Id</th>
    <td>@Model.Title</td>
    <td>@Model.Description</td>
    <td>@Model.Composition</td>
    <td>@Model.Price</td>
    <td style="text-align: center">
        <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal"
                data-bs-target="#editModal-@Model.Id">
            Edit
        </button>
    </td>
    <td style="text-align: center">
        <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal"
                data-bs-target="#deleteModal-@Model.Id">
            Delete
        </button>
    </td>
</tr>

<!-- Edit Modal -->
<form class="form-inline row g-3" asp-controller="Product" asp-action="UpdateProduct" asp-route-id="@Model.Id"
      method="POST" enctype="multipart/form-data">
    <div class="modal fade" id="editModal-@Model.Id" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Edit product</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <div class="input-group">
                            <img id="currentImage-@Model.Id" src="~/uploads/@Model.ImagePath" alt="Current Image"
                                 style="max-width: 100%; margin-bottom: 10px;">
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group">
                            <input type="text" class="form-control" asp-for="Title" placeholder="Title"
                                   aria-label="Default">
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group">
                            <textarea class="form-control" asp-for="Description" placeholder="Description"
                                      aria-label="Default" style="height: 17px"></textarea>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group">
                            <input type="text" class="form-control" asp-for="Composition" placeholder="Composition"
                                   aria-label="Default">
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group">
                            <span class="input-group-text">$</span>
                            <input type="text" class="form-control" asp-for="Price" placeholder="Price"
                                   aria-label="Amount (to the nearest dollar)">
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group">
                            <input type="file" class="form-control" name="File" aria-label="File"
                                   onchange="previewImage(event, 'currentImage-@Model.Id')">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- Delete Modal -->
<form class="form-inline row g-3" asp-controller="Product" asp-action="DeleteProduct" asp-route-id="@Model.Id"
      method="GET">
    <div class="modal fade" id="deleteModal-@Model.Id" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Delete product</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="modal-title fs-5">Are you sure?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <a class="btn btn-danger" asp-action="DeleteProduct" asp-route-id="@Model.Id">Delete</a>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    function previewImage(event, imgId) {
        var reader = new FileReader();
        reader.onload = function () {
            var output = document.getElementById(imgId);
            output.src = reader.result;
        };
        reader.readAsDataURL(event.target.files[0]);
    }
</script>
